

.questionContainer{
    display: flex;
    justify-content: center;
    gap: 15px;
}

#questionNumberContainer{
    display:flex
}
#questionNumberContainer>p{
    margin: 0;
    padding: 0;
    color: grey;
}


#question {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card.question {
}

.card.question > .question{
    font-size: 36px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #000;
    box-shadow: 0 0 10px #000;
    width: 750px;
    min-height: 107px;
}

.question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.answer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #F5F5F5;
    padding: 20px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}

.answer:hover {
    transform: scale(1.05);
}

#correct {
    background-color: #4CAF50;
}

.incorrect{
    background-color: #f44336;
}

#scoreDisplay{
    background-color: green;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    margin-top: 40px;
}

#questionNumberContainer{
    background-color: #F5F5F5;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 20px;
    margin-top: 40px;
}

