body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* align-items: center; */
}

label {
    font-size: small;
}

#answers {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input[type='submit'] {
    width: 50%;
    margin:auto;
    margin-top: 10px;
}