body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ccc;
    background-color: azure;
}

.form-group {
    margin: 10px 0;
    width: 100%;
}

label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid lightgraye;
    margin-bottom: 10px;
}

input[type="submit"], button {
    background-color: limegreen;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

#addQuestions {
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.addYourOwnContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
